 <nav>
    
    <div class="box">
    <img src="./images/logoweb.jpg" alt="image">
    
    <p class="name">SKETCH IT!! GUESS IT!!</p>
    </div>
    
       <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="option">OPTIONS</a></li>
            <li><a href="cont">CONTACT US</a></li>
            <li><a href="login">LOGIN</a></li>
            
        </ul>
        
    </nav>