<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category Page</title>
  <link rel="stylesheet" href="css/quiz.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/nav.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Island+Moments&family=Oswald&family=Playpen+Sans:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">

</head>

<body>

 
  <!-- <%- include('partials/navbar') %> -->
  <nav>
    
    <div class="box">
    <img src="./images/logoweb.jpg" alt="image">
    
    <p class="name">SKETCH IT!! GUESS IT!!</p>
    </div>
    
       <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="option">OPTIONS</a></li>
            <li><a href="cont">CONTACT US</a></li>
            <li><a href="/">LOGOUT</a></li>
            
        </ul>
        
    </nav>
  <div class="vid">
    <video src="./images/ogbg.mp4" class="vid" autoplay loop></video>
 </div>

  <div class="category-container">
    <div class="category">
      <a href="./Marvel"><img src="./images/marvel.jpg" alt="Category 1"></a>
      
    </div>

    <div class="category">
      <a href="./Cartoon"><img src="./images/cartoon.png" alt="Category 2"></a>
    </div>

   <div class="category">
      <a href="./anime"><img src="./images/anime.jpg" alt="Category 4"></a>
    </div>
  </div>

  <!-- <h2 class="k-drama">K-Drama</h2> -->
  <h2 class="marvel">Marvel</h2> 
  <h2 class="cartoon">Cartoon</h2> 
  <h2 class="anime">Anime</h2>

</body>
</html>
