<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT US</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cont.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Island+Moments&family=Oswald&family=Playpen+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>
<style>
    .contact {
        text-decoration: underline;
        text-decoration-color: white;
        text-decoration-thickness: 3px;
    }
</style>

<body>
    <%- include('partials/navbar') %>
    <div class="vid">
        <video src="../images/ogbg.mp4" class="vid" autoplay loop></video>
    </div>

    <div class="contbox">
        <h1 class="top">Contact Us</h1>
        <img src="../images/logoweb.jpg" alt="loog" class="clogo">
        <h1>SKETCH IT!! GUESS IT!!</h1>
        <p class="underneath">Feel Free to Contact Us !</p>

        
                    
           <form class="form" id="form" action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="fa94d31e-02cb-4862-945b-a1cb12100969">
            <input type="hidden" name="subject" value="New Submission from Web3Forms">
           <input type="checkbox" name="botcheck" id="" style="display: none;">
            <div class="form-control">
                <label>Username</label><br>
                <input type="text" placeholder="Your username"  id="username" name="username" required><br>
                <div class="error"></div>
            </div>
            <div class="form-control">
                <label>Email</label><br>
                <input type="text" placeholder="Your Email ID" id="Email"  name="Email" required><br>
                <div class="error"></div>
            </div>
    
            <div class="form-control">
                <label>Message</label><br>
                <input placeholder="Your Message"  id="message" name="message"required />
                <div class="error"></div>
            </div>
            
           <button class="sbtn" id="button" value="button">Submit</button>
           <div id="result"></div>
            </form> 
        </div>
    </div>
    <script>
        const form = document.getElementById('form');
    const result = document.getElementById('result');
    
    form.addEventListener('submit', function(e) {
      e.preventDefault();
      const formData = new FormData(form);
      const object = Object.fromEntries(formData);
      const json = JSON.stringify(object);
      result.innerHTML = "Please wait..."
    
        fetch('https://api.web3forms.com/submit', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: json
            })
            .then(async (response) => {
                let json = await response.json();
                if (response.status == 200) {
                    result.innerHTML = json.message;
                } else {
                    console.log(response);
                    result.innerHTML = json.message;
                }
            })
            .catch(error => {
                console.log(error);
                result.innerHTML = "Something went wrong!";
            })
            .then(function() {
                form.reset();
                setTimeout(() => {
                    result.style.display = "none";
                }, 3000);
            });
    });
    </script>

</body>

</html>