<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/game2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Island+Moments&family=Oswald&family=Playpen+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>
<style>
    .contact {
        text-decoration: underline;
        text-decoration-color: white;
        text-decoration-thickness: 3px;
    }
</style>

<body>
    <%- include('partials/navbar') %>
    <div class="vid">
        <video src="../images/ogbg.mp4" class="vid" autoplay loop></video>
    </div>

    <div class="screen">
       
        
        <div class="show">

        </div>
        

        <div class="opt">
            <button class="choice"><a href="">Option A</a></button>
            <button class="choice"><a href="">Option A</a></button>
            <button class="choice"><a href="">Option A</a></button>
            <button class="choice"><a href="">Option A</a></button>
        </div>


    </div>
 
    <div class="timer">
        <div class="time">
            
        </div>

    </div>
</body>

</html>