<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Island+Moments&family=Oswald&family=Playpen+Sans:wght@500&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet">
</head>
<style>
    .contact {
        text-decoration: underline;
        text-decoration-color: white;
        text-decoration-thickness: 3px;
    }
</style>

<body>
    <!-- <%- include('partials/navbar') %> -->
    <nav>
    
        <div class="box">
        <img src="./images/logoweb.jpg" alt="image">
        
        <p class="name">SKETCH IT!! GUESS IT!!</p>
        </div>
        
           <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="option">OPTIONS</a></li>
                <li><a href="cont">CONTACT US</a></li>
                <!-- <li><a href="login">LOGIN</a></li> -->
                
            </ul>
            
        </nav>
    <div class="vid">
        <video src="./images/ogbg.mp4" class="vid" autoplay loop></video>
    </div>

    <div class="contbox">
        <h1 class="top">Login</h1>
        <img src="./images/logoweb.jpg" alt="loog" class="clogo">
        <h1>SKETCH IT!! GUESS IT!!</h1>
        <a href="register" class="underneath">Dont have account?Sign up</a>
        
       <form class="form" id="form" action="/login" method="post" >
        <div class="form-control">
            <label>Username</label><br>
            <input type="text" placeholder="Enter username" id="username" name="username" required><br>
            <div class="error"></div>
        </div>

        <div class="form-control">
            <label>Password</label><br>
            <input type="password" placeholder="Enter password" id="password" name="password" required~><br>
            <div class="error"></div>
        </div>
        
       <button class="sbtn" type="submit" >Login</button>
   

        </form> 

    

        
    </div>

   
</body>
 <!-- <script src="./js/validation.js"></script>  -->
</html>